#goatMap {
  position: absolute;
  top: 5rem;
  left: 6rem;
  z-index: 10;
  margin: 0;
  padding: 0;
  color: #000;
  color: rgba(0, 0, 0, 0.5);

  font-size: 4em;
  /* -webkit-text-stroke: 1.5px #ffffff; */
}

.infoWindow {
  color: #3f6356;
}
