p {
  color: #22d2a0;
  font-weight: bolder;
  font-size: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.field {
  margin-left: 35px;
  background-color: rgb(230, 221, 221);
  color: #000000;
  border: 1px solid #adf0dd;
  -webkit-text-stroke: 0.1px #adf0dd;
  width: 25em;
}

#thanks {
  margin-top: 30px;
  font-size: 4rem;
  letter-spacing: normal;
}
#herd {
  font-size: 2rem;
}

.maps {
  margin-left: 60em;
  margin-top: 10em;
}

#submit {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 11px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #22d2a0;
  color: #22d2a0;
  border-radius: 5px;
  font-family: 'Archivo Black', 'Archivo', sans-serif;
  background-color: #192824;
  width: 9vw;
  position: absolute;
  margin-top: 40px;
  margin-left: 300px;
}
#submit:hover {
  background-color: #22d2a0;
  color: white;
}
